//*RESPONSIVE BREAKPOINT*/
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

:root {
  /* Color Variables */

  --color-primary: #101d2c;
  --color-primary-glass: #253041;
  --color-primary-light: #3c4b5c;

  --color-primary-dark: #000a14;
  --color-secondary: #5918df;

  /* Grey Tones */
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  /* Basic Colors */
  --color-white: #fff;
  --color-black: #333;

  /* Font Variables */
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;

  /* Responsive Breakpoints */
  --bp-largest: 75em; /* 1200px, large screens */
  --bp-large: 62.5em; /* 1000px, medium-large screens */
  --bp-medium: 50em; /* 800px, medium screens */
  --bp-small: 37.5em; /* 600px, small screens */
}

/* Reset and Box-Sizing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; /* Inherit box-sizing to include padding and border in element's total width and height */
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-primary);
  scroll-behavior: smooth;
  @media screen and (max-width: var(--bp-largest)) {
    font-size: 50%;
  }
}

/* Base Body Styling */
body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
}

/* Grid Layout for Container */
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(4, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  position: relative;
}
@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
}