.header {
   height: 100vh;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
 
  overflow: hidden;
  background-color: var(--color-primary);
  background-image: linear-gradient(
      to right bottom,
      rgba(2, 18, 48, 0.945),
      rgba(0, 6, 24, 0.87)
    ),
    url(/src/assets/images/bg.jpg);
  background-size: cover;

  @media screen and (max-width: $bp-large) {
    padding-left: 13rem;
  }
  @media screen and (max-width: $bp-small) {
    margin-left: -5rem;
    grid-template-rows: 60% 30%;
  }
  &__content {
 
    grid-column: col-start / col-end 5;
    align-self: center;
     
    @media screen and (max-width: $bp-large) {
      grid-column: col-start / col-end 5;
      
    }
    @media screen and (max-width: $bp-small) {
      grid-column: col-start / full-end;
      margin-bottom: 0;
 
    }
    &--info-box {
     
      display: inline-block;
      height: 6rem;
      text-align: center;
      position: relative;
      opacity: 1;
      overflow: hidden;
      @media screen and (max-width: $bp-large) {
        height: 4rem;
   
      }
      @media screen and (max-width: $bp-small) {
        height: 3rem;
        margin-left: 3rem;
     
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;  
      }
    }
    .header__content--info-start,
    .header__content--info-header,
    .header__content--info-profession,
    .header__content--info-description {
      position: relative;
      padding: 1rem 0;
      left: 0;
      opacity: 0;
      animation: revealText 1s forwards;
    }

    .header__content--info-start {
      animation-delay: 2s;
      font-size: 1.9rem;
      font-family:Roboto Condensed, Lato, Arial, sans-serif !important;
      font-weight: 200;
     
     @media screen and (max-width:$bp-small) {
      font-size: 1.5rem;
     }
    }
    .header__content--info-header {
      animation-delay: .6s;
      font-weight: 700;
 
    }

    .header__content--info-profession {
      animation-delay: .5s;
    }

    .header__content--info-description {
      animation-delay: 1s;
     font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
    }
    @keyframes revealText {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .header__content--info-cover-1,
    .header__content--info-cover-2,
    .header__content--info-cover-3,
    .header__content--info-cover-4 {
      position: absolute;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      transform: translateX(calc(100% + 1px));
      opacity: 0;
      background: #5918df;
      animation-name: coverSlide;
      animation-duration: 3s;
      animation-timing-function: cubic-bezier(.65,.05,.36,1);
      z-index: 1;
    }
    .header__content--info-cover-1 {
      animation-delay: 2s;
    }
    .header__content--info-cover-2 {
      animation-delay: .2s;
    }
    .header__content--info-cover-3 {
      animation-delay: .4s;
    }
    .header__content--info-cover-4 {
      animation-delay: .7s;
    }
    @keyframes coverSlide {
      0% {
        left: -100%;
        width: 100%;
        opacity: 1;
      }
      100% {
        left: 100%;
        width: 100%;
        opacity: 1;
      }
    }

    &--info-header {
      color: var(--color-grey-light-3);
      font-size: 3.5rem;
      font-weight: 500;
      
      @media screen and (max-width: $bp-large) {
        font-size: 2.5rem;
      }
      @media screen and (max-width: $bp-small) {
        font-size: 1.5rem;
      }
    }
    &--info-highlight{
      margin-left: 1rem;
      color: #5918df;
    }
    &--info-profession { 
      position: relative;
      overflow: hidden;
      display: flex ;
      text-align: center;
      gap: 1rem; 
      white-space: nowrap;
      color: var(--color-grey-light-3);
      font-size: 2.5rem;
      animation-name: moveInLeft;
      animation-duration: 1.2s;
      animation-timing-function: ease-in;
   
      @media screen and (max-width: $bp-large) {
        font-size: 1.6rem;
      }
      @media screen and (max-width: $bp-small) {
        font-size: 1.5rem;
      }
    }
 //start 
 
 .text-container {
  height: 1.38em; 
  overflow: hidden;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* Fill the container */
  animation: slide 8s infinite;
}

.text {
  display: block;
  line-height: 1.5em; /* Same as container height */
  transition: opacity 0.5s;
}

@keyframes slide {
  0%, 25%,55% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-100%);
  }
 
  75% {
    transform: translateY(-100%);
  }
  85% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
                       
.text:nth-child(1) {
  opacity: 1;
  animation: fadeInOut 4s infinite;
}

.text:nth-child(2) {
  opacity: 0;
  animation: fadeInOut 4s infinite;
  animation-delay: 2s;  
}

@keyframes fadeInOut {
  0%, 55% {
    opacity: 1;
  }
  55% {
    opacity:1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

 
 
 //end
  
    &--info-description {
      font-size: 1.8rem;
      animation-name: moveInBottom;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
      @media screen and (max-width: $bp-large) {
        font-size: 1.6rem;
      }
      @media screen and (max-width: $bp-small) {
        font-size: 1.5rem;
      }
    }
   
  }
}

.header-right {
  grid-column: col-end 6 / full-end;
  display: flex;
  justify-content: center;
 align-items: center;

  @media screen and (max-width: $bp-large) {
    grid-column: col-end 5 / col-end 8;
    margin-bottom: 3rem;
  }
  @media screen and (max-width: $bp-small) {
    grid-column: col-start / full-end;
    margin-bottom: 0;
  }

  &-img {
    width: 60%;
    border-radius: 50%;
    object-fit: cover;
    @media screen and (max-width: $bp-large) {
      width: 100%;
    }
    @media screen and (max-width: $bp-small) {
      width: 30%;
    }
  }
}
